.controls {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  input,
  select {
    padding: 1rem;
    border-radius: 6px;
    border: none;
    background: var(--elements);
    color: var(--text);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    width: 250px;
  }
}

.grid {
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 3rem;
}

.card {
  background: var(--elements);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-5px);
  }

  img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }

  .info {
    padding: 1.5rem;

    h3 {
      margin-bottom: 1rem;
    }

    p {
      margin: 0.3rem 0;
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .controls {
    padding: 1.5rem 1rem;
    flex-direction: column;
    gap: 1rem;

    input,
    select {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .grid {
    padding: 1.5rem 1rem;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .card .info {
    h3 {
      font-size: 18px;
    }

    p {
      font-size: 14px;
    }
  }
}
